
body{
    height:100vh;
    background: url("/дз3/img/bg-image.png") no-repeat center center/cover;
}
.pug img{
    width:35%;
    height: 60vh;
    border:6px solid white;
    float: left;
    margin: 100px 0px 0px 100px;
    padding: 20px;
}
.pug_content{
    width: 35%;
    height: 60vh;
    float: right;
    margin:100px 100px 100px 100px;
}
.pug_content a{
    padding: 20px 50px;
    border: 1px solid white;
    background:  #333;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    
}
    


h3{
    color:gray;
}
a:hover{
    background: black;
}